-i https://pypi.org/simple/
arrow==1.0.3
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
flask==1.0.3
gevent-websocket==0.10.1
gevent==1.4.0
greenlet==1.0.0 ; platform_python_implementation == 'CPython'
gunicorn==19.9.0
idna==2.8
iso8601==0.1.14
itsdangerous==1.1.0
jinja2==2.11.3
leancloud==2.1.12
lxml==4.6.3
markupsafe==1.1.1
njupt==0.2.3
pillow==8.1.2
python-dateutil==2.8.1
pytz==2019.1
qiniu==7.2.2
requests==2.21.0
six==1.15.0
soupsieve==2.2.1 ; python_version >= '3.0'
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.24.3
werkzeug==1.0.1
